<!-- Main Content -->
<main>
  <div class="container py-4">
    <div class="p-5 mb-4 bg-light rounded-3" style="background: url(/image/hk_img_1.jpg) no-repeat center center fixed; background-size: cover;">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold text-white">Equity & FX Trading Floor System</h1>
        <p class="col-md-8 fs-4">From Front-end trading system OPT/OCG to Market Data provider Bloomberg & Thomson Reuters. We provide one-stop infrastructure setup and back-office settlement in-house application integration.</p>
        <a href="/contact" class="btn btn-primary btn-lg" type="button">Contact us</a>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-bg-dark rounded-3">
          <h3>Middle & Back Office Application Development</h3>
          <p>Developed an application for our client in HK, London & Pairs office middle to back office settlemnent integrate with Prime Broker Goldman Sachs backend system.</p>
          <a href="/services" class="btn btn-outline-light" type="button">Services Scope</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Security & Confidential</h2>
          <p>Pen tests start with a phase of reconnaissance, during which an ethical hacker spends time gathering data and information that they will use to plan their simulated attack.</p>
          <a href="/contact" class="btn btn-outline-secondary" type="button">Contact us</a>
        </div>
      </div>
    </div>
  </div>
</main>

