<div class="container py-3">
  <header>
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">Services</h1>
        <p class="fs-5 text-muted">In today’s fast-moving IT environment and partner-based ecosystem. It’s not magic, just a structured way of working. Early on when you can influence the decisions made, or do you start firefighting after the go-live when the stuff starts hitting the fan? Surely your service delivery capabilities deserve better.</p>
    </div>

    <main>
      <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Network Security</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">Penetration <small class="text-muted fw-light">Testing</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Various vulnerability analysis</li>
                <li>Internal & External pen test</li>
                <li>Red, Blue & Purple team simulation</li>
                <li>Physical Penetratin Test</li>
              </ul>
              <button type="button" class="w-100 btn btn-lg btn-outline-primary">Project References</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">HKEX Trading System</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">Low-Latency <small class="text-muted fw-light">Trading System</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Application integrtation</li>
                <li>In-house infrastructure setup</li>
                <li>Mobile trading platform design</li>
                <li>Back-end Database integration</li>
              </ul>
              <button type="button" class="w-100 btn btn-lg btn-primary">Trading Floor</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm border-primary">
            <div class="card-header py-3 text-bg-primary border-primary">
              <h4 class="my-0 fw-normal">Trading Apps</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">Trading App <small class="text-muted fw-light">Development</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Front office Trading system</li>
                <li>Middle & back office development</li>
                <li>Customer mobile trading Apps</li>
                <li>24x7 Support</li>
              </ul>
              <a type="button" class="w-100 btn btn-lg btn-primary" href="/contact">Contact us</a>
            </div>
          </div>
        </div>
      </div>
    </main>
  </header>
</div>

